{% extends '@VinorcolaPrivateUser/layout.html.twig' %}



{% block private_user_body %}
    <p>{{ 'private_user.forgottenPassword.definePassword.message'|trans }}</p>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="button-group">
            <button type="submit" class="btn btn-primary">{{ 'private_user.forgottenPassword.definePassword.submit'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
