{% extends '@VinorcolaPrivateUser/layout.html.twig' %}

{% block pageTitle %}{{ 'private_user.admin.create.title'|trans }}{% endblock %}
{% block title %}{{ 'private_user.admin.create.title'|trans }}{% endblock %}



{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="button-group">
            <button type="submit" class="btn btn-primary">{{ 'private_user.admin.create.submit'|trans }}</button>
        </div>
    {{ form_end(form) }}
{% endblock %}
