{% extends '@VinorcolaPrivateUser/layout.html.twig' %}

{% block pageTitle %}{{ 'private_user.admin.forgottenPasswordLink.title'|trans({ '%user%': user.displayName }) }}{% endblock %}
{% block title %}{{ 'private_user.admin.forgottenPasswordLink.title'|trans({ '%user%': user.displayName }) }}{% endblock %}



{% block private_user_body %}
    {% set link = url('private_user.forgottenPassword.changePassword', { token: user.token }) %}

    <p>{{ 'private_user.admin.forgottenPasswordLink.message'|trans({ '%expirationDate%': expirationDate }) }}</p>

    <pre>{{ link }}</pre>

    <p><a href="{{ path('private_user.admin.list') }}">{{ 'private_user.admin.forgottenPasswordLink.back'|trans }}</a></p>
{% endblock %}
