{% extends '@VinorcolaPrivateUser/layout.html.twig' %}

{% block pageTitle %}{{ 'private_user.admin.list.title'|trans }}{% endblock %}
{% block title %}{{ 'private_user.admin.list.title'|trans }}{% endblock %}



{% block private_user_body %}
    <table id="user-list">
        <thead>
            <tr>
                <th>{{ 'private_user.user.name'|trans }}</th>
                <th>{{ 'private_user.user.emailAddress'|trans }}</th>
                <th>{{ 'private_user.user.type'|trans }}</th>
                <th>{{ 'private_user.user.enabled'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td><a href="{{ path('private_user.admin.edit', { userEmailAddress: user.emailAddress }) }}">{{ user.displayName }}</a></td>
                    <td>{{ user.emailAddress }}</td>
                    <td>{{ ('private_user.userType.' ~ user.type)|trans }}</td>
                    <td>{% if user.enabled %}✔{% else %}✖{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}



{% block private_user_control %}
    <a href="{{ path('private_user.admin.create') }}">{{ 'private_user.admin.list.add'|trans }}</a>
{% endblock %}



{% block stylesheets %}
    <style>
        #user-list tbody tr {
            cursor: pointer;
        }

        #user-list a {
            text-decoration: none;
        }
    </style>
{% endblock %}



{% block javascripts %}
    <script>
        (function() {
            function handleLineClick() {
                {# Click on the link in the first cell.#}
                this.firstElementChild.firstElementChild.click()
            }

            Array.prototype.slice.call(document.querySelectorAll("#user-list tbody tr"))
                .forEach(function(tr) {
                    tr.addEventListener("click", handleLineClick)
                })
        })()
    </script>
{% endblock %}
